<%- include('header.ejs') %>
    
    <main class='signin clearfix'>
        <seccion>
            <h2>User Accounts</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Password Reset Status</th>
                    <th>Password Reset</th>
                    <th>Revoked Status</th>
                </tr>
                <% if (typeof userList !== 'undefined'){ %> 
                    <% userList.forEach( (user)=> { %>
                <tr>
                    
                    <td><%= user.email %></td>
                    <td> <%= user.verifying ? "Pending" : "Completed" %></td>
                    <td>
                        <form class="login-form" action="/auth/reset" method="POST">
                            <input type="hidden" name="email" value="<%= user.email %>">
                            <input type="submit" value='Reset'>
                        </form>
                    </td>
                    <td><%= user.revoked ? "Yes" : "No" %></td>
                    
                </tr>
                    <% }) %>
                <% } %>
            </table>
        </seccion>
        <section>
            <h2>Create User Account</h2>
            <p>To create an user account you need to fill out the form below, then complete the verification process.</p>
            <form class="login-form" action="/auth/user" method="POST">
                <input type="text" name='email' placeholder="email">
                <input type="password" name='password' placeholder="password">
                <input type="password" name='confirmPassword' placeholder="password">
                <input type="submit" value='Submit'>
            </form>
        </section>
    </main>
</body>
</html>