<%- include('header.ejs') %>

    <main class="justify-content-center container-fluid flex-fill">
        <seccion>
            <h2>User Accounts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="6"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-dark">
                        <th>User</th>
                        <th>User Type</th>
                        <th>Password Status</th>
                        <th>Password Reset</th>
                        <th>Revoked Status</th>
                        <th>Revoke</th>
                    </tr>
        
                    <!-- user. -->
                <% if (typeof userList !== 'undefined'){ %> 
                    <% userList.forEach( (currentAccount)=> { %>
                    <tr>        
                        <td><%= currentAccount.email %></td>
                        <td><%= currentAccount.accountType %></td>
                        <td> <%= currentAccount.verifying ? "Pending" : "Completed" %></td>
                        <td>
                            <form class="login-form" action="/auth/reset" method="POST">
                                <input type="hidden" name="email" value="<%= currentAccount.email %>">
                                <input type="submit" value='Reset'>
                            </form>
                        </td>
                        <td><%= currentAccount.revoked ? "Yes" : "No" %></td>
                        <td>
                            <form class="login-form" action="/auth/revoke" method="POST">
                                <input type="hidden" name="email" value="<%= currentAccount.email %>">
                                <input type="submit" <%= currentAccount.accountType.toLowerCase() === 'owner' || currentAccount.email.toLowerCase() === user.email.toLowerCase() ? 'disabled' : '' %> value='<%= currentAccount.revoked ? "Reinstate" : "Revoke" %>'>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </seccion>
        <section>
            <h2>Create User Account</h2>
            <p>To create an user account you need to fill out the form below, then complete the verification process.</p>
            <form class="login-form" action="/auth/user" method="POST">
                <% if (typeof user !== 'undefined'){ %> 
                    <% if (user.accountType === "Owner"){ %> 
                <select name="accountType">
                    <option selected value="Case Worker">Case Worker</option>
                    <option value="App Manager">App Manager</option>
                    <option value="Owner">Owner</option>
                </select>
                    <% }else{ %>
                <input type="hidden" name="accountType" value="Case Worker">
                    <% } %>
                <% } %>
                <input type="text" name='email' placeholder="email">
                <input type="submit" value='Submit'>
            </form>
        </section>
    </main>

    
<%- include('footer.ejs') %>