    <%- include('header.ejs') %>
    <main class="text-center">
        <section>
            <h1>Dashboard</h1>
            <table>
                <thead>
                    <tr>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Debts</th>
                        <th>Current</th>
                        <th>Late</th>
                    </tr>
                    <% if (typeof debtors !== 'undefined'){ %>
                    <tr>
                        <td><%= debtors.debtsCount %></td>
                        <td><%= debtors.currentPayments %></td>
                        <td><%= debtors.latePayments %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </section>  
    </main>
    
<%- include('footer.ejs') %>