<%- include('header.ejs') %>

    <main class='signin clearfix'>
            <h1>Current Debts Owed</h1>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Debtor table</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>File Id</th>
                        <th>Started</th>
                        <th>Payment</th>
                        <th>Debt</th>
                    </tr>
                    <% if (typeof debtors !== 'undefined'){ %>
                        <% for(let debts of debtors){ %>
                    <tr>
                        <td><%= debts.name %></td>
                        <td><a href="cases/<%= debts.fileId %>"><%= debts.fileId %></a></td>
                        <% let formatDate = new Date(debts.startDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td><%= formatDate %></td>
                        <td><%= debts.minPayment %></td>
                        <td><%= debts.debtAmount %></td>
                    </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
    </main>
</body>
</html>