<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class="d-flex justify-content-center container-fluid flex-fill">
        <section>
            <h1>Debts</h1>
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th colspan="5"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-dark text-center">
                        <th>File Id</th>
                        <th>Name</th>
                        <th>Current Debt</th>
                        <th>Payments Left</th>
                        <th>Late</th>
                    </tr>
                    <% if (typeof debtors !== 'undefined'){ %>
                        <% for(let debts of debtors){ %>
                    <tr>
                        <td><%= debts.fileId %></td>
                        <td><a href="cases/<%= debts.fileId %>"><%= debts.name %></a></td>
                        <td class="text-center"><%= currencyFormat.format(debts.currentDebt) %></td>
                        <td class="text-center"><%= Math.ceil(debts.currentDebt / debts.minPayment) %></td>
                        <td><%= debts.paymentLate ? "Late" : "On Time" %></td>
                    </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </section>  
    </main>

<%- include('footer.ejs') %>