<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class="justify-content-center d-grid gap-3 container-fluid flex-fill">
        <h1>Case Review</h1>

        <% if (typeof debtorInfo !== 'undefined'){ %>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4" class="p-0">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/cases/<%= debtorInfo.fileId %>">Table View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/cases-merge/<%= debtorInfo.fileId %>">Merge View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/printview/<%= debtorInfo.fileId %>">Print View</a>
                            </li>
                        </ul>
                    </th>
                    <th style="text-align:right;">
                        <form action="/editDebtor/<%= debtorInfo.fileId %>" method="GET">
                            <input type="submit" value="edit" class="btn btn-secondary btn-outline-light btn-sm">
                        </form>
                    </th> 
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="table-light">
                    <th>Name</th>
                    <th>File Id</th>
                    <th>Started</th>
                    <th>Payment</th>
                    <th>Debt</th>
                </tr>
                <tr>     
                    <td>
                        <select onchange="changeDebtor(event)">
                            <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                            <% if (typeof debtorList !== 'undefined'){ %>
                                <% for(let debtor of debtorList){ %>
                                    <% if (debtorInfo.name !== debtor.name){ %>
                            <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </select>
                    </td>
                    <td><%= debtorInfo.fileId %></td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td><%= currencyFormat.format(debtorInfo.debt) %></td>
                </tr>
                <tr class="table-light">
                    <th>Current Debt</th>
                    <th>End Date</th>
                    <th>Payments Left</th>
                    <th>Payment Made</th>
                    <th>Payments Late</th>
                </tr>
                <tr>
                    <td><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate.setMonth(currentDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= currentDate %></td>
                    <td><%= Math.ceil((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) %></td>
                    <td><%= debtorInfo.payments.length %></td>
                    <td><%= debtorInfo.late %> <a class="btn btn-primary btn-sm" href="/excusepayment/<%= debtorInfo.fileId %>">excuse</a></td>
                    
                </tr>
                <tr colspan="5"><td colspan="5">
                    <table class="table table-borderless"">
                        <thead>
                            <tr class="table-dark">
                                <th colspan="1">Date</th>
                                <th colspan="1">Payment Amount</th>
                                <th colspan="1">Date</th>
                                <th colspan="1">Bill Amount</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>
                        <tbody>

<!-- Payments -->
                <% if (typeof debtorInfo.billed !== 'undefined'){ %>
                    <% let runningBalance = 0 %>
                    <% let bills = 0 %>
                    <% let payments = 0 %>
                    <% let skipPays = 0 %>
                    <% let skipDebts = 0 %>
                    <% let i=0 %>
                    
                    <% while(bills < debtorInfo.billed.length || payments < debtorInfo.payments.length){ %>
                        
                <tr>
                        <% if(i === skipPays && payments < debtorInfo.payments.length){ %>
                    <td class="<%= payments % 2 === 0 ? 'table-active' : '' %> border-top border-secondary" rowspan="<%= debtorInfo.payments[payments].space %>">
                        <% let formatDate = new Date(debtorInfo.payments[payments].paymentDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <%= formatDate %>
                    <p class="comment"><%= debtorInfo.payments[payments].paymentComment %></p>
                    </td>  
                    <td class="<%= payments % 2 === 0 ? 'table-active' : '' %> border-top border-secondary" rowspan="<%= debtorInfo.payments[payments].space %>">
                        <div class="d-flex">
                            <span class="p-1"><%= currencyFormat.format(debtorInfo.payments[payments].paymentAmount) %></span>

                            <form class="p-1" action="/delPayment/<%= debtorInfo.payments[payments].id %>" method="POST">
                                <input type="submit" value="X" class="btn btn-secondary btn-outline-light btn-sm"> 
                            </form>

                            <form class="p-1" action="/editPayment/<%= debtorInfo.fileId %>/<%= debtorInfo.payments[payments].id %>" method="GET">
                                <input type="submit" value="edit" class="btn btn-secondary btn-outline-light btn-sm">
                            </form>
                        </div>
                    </td>
                            <% skipPays = i + debtorInfo.payments[payments].space %>
                            <% payments++ %>
                        <% } else if(i === skipPays && debtorInfo.payments.length === payments){ %> 
                    <td class="table-dark border-top" rowspan="0" colspan="2">End of Payments</td>
                            <% payments++ %>
                        <% } %>

                    <% if(i === skipDebts && bills < debtorInfo.billed.length){ %>
                        <% let formatDate = new Date(debtorInfo.billed[bills].paymentDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td class="<%= bills % 2 === 0 ? 'table-active' : '' %> border-top border-secondary" rowspan="<%= debtorInfo.billed[bills].space == 0 ? 1 : debtorInfo.billed[bills].space %>" colspan="1"><%= formatDate %></td>
                    <td class="<%= bills % 2 === 0 ? 'table-active' : '' %> border-top border-secondary" rowspan="<%= debtorInfo.billed[bills].space == 0 ? 1 : debtorInfo.billed[bills].space %>" colspan="1"><%= debtorInfo.billed[bills].paymentAmount === "paid" ? debtorInfo.billed[bills].paymentAmount : currencyFormat.format(runningBalance +=debtorInfo.billed[bills].paymentAmount) %></td>
                    
                        <% skipDebts = i + debtorInfo.billed[bills].space %>
                        
                        <% bills++ %>
                    <% } %>
                    
                    <td class="<%= bills % 2 === 0 ? '' : 'table-active' %>"></td>
                </tr>
                <% i++ %>  
                    <% } %>
                <% } %>
        <% } %>
                    </tbody></table>
                </td></tr>
            </tbody>
        </table>
    </main>

<%- include('footer.ejs') %>