<%- include('header.ejs') %>

    <main class='signin clearfix'>
            <h1>Case Review</h1>

            <table>
                <thead>
                    <tr>
                        <th colspan="5">Debtor table</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>File Id</th>
                        <th>Started</th>
                        <th>Payment</th>
                        <th>Debt</th>
                    </tr>
                    <tr>
                        <% if (typeof debtorInfo !== 'undefined'){ %>
                        <td><%= debtorInfo.name %></td>
                        <td><%= debtorInfo.fileId %></td>
                        <% let formatDate = new Date(debtorInfo.startDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td><%= formatDate %></td>
                        <td><%= debtorInfo.minPayment %></td>
                        <td><%= debtorInfo.debt %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <th>Current Debt</th>
                        <th>End Date</th>
                        <th>Payments Left</th>
                        <th>Payment Made</th>
                        <th>Payments Late</th>
                    </tr>
                    <tr>
                        <% if (typeof debtorInfo !== 'undefined'){ %>
                        <td><%= debtorInfo.debt - debtorInfo.totalPaid %></td>
                        <% let currentDate = new Date() %>
                        <!-- <%= currentDate.setMonth(currentDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                        <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td><%= currentDate %></td>
                        <td><%= Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1 %></td>
                        <td><%= debtorInfo.payments.length %></td>
                        <td><%= (debtorInfo.totalPaid < (debtorInfo.elapsed * debtorInfo.minPayment)) ? 'Yes' : 'No' %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <th colspan="3">Payment Date</th>
                        <th colspan="2">Payment</th>
                    </tr>
                    <% if (typeof debtorInfo.payments !== 'undefined'){ %>
                        <% for(let payment of debtorInfo.payments){ %>
                    <tr>
                        <% let formatDate = new Date(payment.paymentDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td colspan="3"><%= formatDate %></td>
                        <td colspan="2"><%= payment.paymentAmount %></td>
                    </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
    </main>
</body>
</html>