<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class='signin clearfix'>
        <h1>Case Review</h1>

        <% if (typeof debtorInfo !== 'undefined'){ %>
        <table>
            <thead>
                <tr>
                    <td><a href="/cases/<%= debtorInfo.fileId %>">Table View</a></td>
                    <td><a href="/cases-merge/<%= debtorInfo.fileId %>">Merge View</a></td>
                    <td colspan="3">
                        <a href="/printview/<%= debtorInfo.fileId %>">Print View</a>
                        <form action="/editDebtor/<%= debtorInfo.fileId %>" method="GET">
                            <input type="submit" value="edit" class="editBtn">
                        </form>
                    </td>
                </tr>
                <tr>
                    <th colspan="5">Debtor table</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>File Id</th>
                    <th>Started</th>
                    <th>Payment</th>
                    <th>Debt</th>
                </tr>
                <tr>
                    
                    <td><select onchange="changeDebtor(event)">
                        <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                        <% if (typeof debtorList !== 'undefined'){ %>
                            <% for(let debtor of debtorList){ %>
                                <% if (debtorInfo.name !== debtor.name){ %>
                        <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select></td>
                    <td><%= debtorInfo.fileId %></td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td><%= currencyFormat.format(debtorInfo.debt) %></td>
                </tr>
                <tr>
                    <th>Current Debt</th>
                    <th>End Date</th>
                    <th>Payments Left</th>
                    <th>Payment Made</th>
                    <th>Payments Late</th>
                </tr>
                <tr>
                    <td><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate.setMonth(currentDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= currentDate %></td>
                    <td><%= Math.ceil((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) %></td>
                    <td><%= debtorInfo.payments.length %></td>
                    <td><%= (debtorInfo.totalPaid < (debtorInfo.elapsed * debtorInfo.minPayment)) ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                    <th colspan="1">Payment Date</th>
                    <th colspan="1">Payment</th>
                    <th colspan="2">Comments</th>
                    <th colspan="2">Balance</th>
                </tr>


<!-- Payments -->
            <% let billedCounter = 0 %>
            <% let paymentCounter = 0 %>
            <% let runningBalance = 0 %>

            <% while(billedCounter < debtorInfo.billed.length || paymentCounter < debtorInfo.payments.length){ %>
                <% if(paymentCounter < debtorInfo.payments.length && runningBalance <= 0){ %>
                <tr class="highlight">
                    <% let formatDate = new Date(debtorInfo.payments[paymentCounter].paymentDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td rowspan="1" colspan="1"><%= formatDate %></td>
                    <td rowspan="1">
                        <form action="/delPayment/<%= debtorInfo.payments[paymentCounter].id %>" method="POST">
                            <input type="submit" value="X" class="deleteBtn"> 
                        </form>
                        <%= currencyFormat.format(debtorInfo.payments[paymentCounter].paymentAmount) %>
                        <form action="/editPayment/<%= debtorInfo.fileId %>/<%= debtorInfo.payments[paymentCounter].id %>" method="GET">
                            <input type="submit" value="edit" class="editBtn">
                        </form>
                    </td>
                    <% runningBalance += debtorInfo.payments[paymentCounter].paymentAmount %>
                    <td rowspan="1" colspan="2"><%= debtorInfo.payments[paymentCounter].paymentComment %></td>
                    <td><%= currencyFormat.format(runningBalance) %></td>
                    <% paymentCounter++ %>
                </tr>
                <% }else if(billedCounter >= debtorInfo.billed.length && paymentCounter < debtorInfo.payments.length){ %>
                    <tr class="highlight">
                        <% let formatDate = new Date(debtorInfo.payments[paymentCounter].paymentDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td rowspan="1" colspan="1"><%= formatDate %></td>
                        <td rowspan="1">
                            <form action="/delPayment/<%= debtorInfo.payments[paymentCounter].id %>" method="POST">
                                <input type="submit" value="X" class="deleteBtn"> 
                            </form>
                            <%= currencyFormat.format(debtorInfo.payments[paymentCounter].paymentAmount) %>
                            <form action="/editPayment/<%= debtorInfo.fileId %>/<%= debtorInfo.payments[paymentCounter].id %>" method="GET">
                                <input type="submit" value="edit" class="editBtn">
                            </form>
                        </td>
                        <% runningBalance += debtorInfo.payments[paymentCounter].paymentAmount %>
                        <td rowspan="1" colspan="2"><%= debtorInfo.payments[paymentCounter].paymentComment %></td>
                        <td><%= currencyFormat.format(runningBalance) %></td>
                        <% paymentCounter++ %>
                    </tr>
                <% } %>
                <% if(billedCounter < debtorInfo.billed.length && runningBalance > 0){ %>
                    <tr>
                        <% let formatDate = new Date(debtorInfo.billed[billedCounter].paymentDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td rowspan="1" colspan="1"><%= formatDate %></td>
                        <td rowspan="1">-<%= currencyFormat.format(debtorInfo.billed[billedCounter].paymentAmount) %></td>
                        <% runningBalance -= debtorInfo.billed[billedCounter].paymentAmount %>
                        <td rowspan="1" colspan="2"><%= debtorInfo.billed[billedCounter].paymentComment %></td>
                        <td><%= currencyFormat.format(runningBalance) %></td>
                        <% billedCounter++ %>
                    </tr>
                <% }else if(billedCounter < debtorInfo.billed.length && paymentCounter >= debtorInfo.payments.length){ %>
                    <tr>
                        <% let formatDate = new Date(debtorInfo.billed[billedCounter].paymentDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                        <td rowspan="1" colspan="1"><%= formatDate %></td>
                        <td rowspan="1">-<%= currencyFormat.format(debtorInfo.billed[billedCounter].paymentAmount) %></td>
                        <% runningBalance -= +debtorInfo.billed[billedCounter].paymentAmount %>
                        <td rowspan="1" colspan="2"><%= debtorInfo.billed[billedCounter].paymentComment %></td>
                        <td><%= currencyFormat.format(runningBalance) %></td>
                        <% billedCounter++ %>
                    </tr>
                <% } %>
            <% } %>

                
                      
        <% } %>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>