<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class='signin clearfix'>
        <h1>Case Review</h1>

        <% if (typeof debtorInfo !== 'undefined'){ %>
        <table>
            <thead>
                <tr>
                    <td><a href="/cases/<%= debtorInfo.fileId %>">Table View</a></td>
                    <td><a href="/cases-merge/<%= debtorInfo.fileId %>">Merge View</a></td>
                    <td colspan="3"><a href="/printview/<%= debtorInfo.fileId %>">Print View</a></td>
                </tr>
                <tr>
                    <th colspan="5">Debtor table</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>File Id</th>
                    <th>Started</th>
                    <th>Payment</th>
                    <th>Debt</th>
                </tr>
                <tr>
                    
                    <td><select onchange="changeDebtor(event)">
                        <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                        <% if (typeof debtorList !== 'undefined'){ %>
                            <% for(let debtor of debtorList){ %>
                                <% if (debtorInfo.name !== debtor.name){ %>
                        <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select></td>
                    <td><%= debtorInfo.fileId %></td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td><%= currencyFormat.format(debtorInfo.debt) %></td>
                </tr>
                <tr>
                    <th>Current Debt</th>
                    <th>End Date</th>
                    <th>Payments Left</th>
                    <th>Payment Made</th>
                    <th>Payments Late</th>
                </tr>
                <tr>
                    <td><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate.setMonth(currentDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= currentDate %></td>
                    <td><%= Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1 %></td>
                    <td><%= debtorInfo.payments.length %></td>
                    <td><%= (debtorInfo.totalPaid < (debtorInfo.elapsed * debtorInfo.minPayment)) ? 'Yes' : 'No' %></td>
                    
                </tr>
                <tr>
                    <th colspan="1">Payment Date</th>
                    <th colspan="1">Payment</th>
                    <th colspan="3">Comments</th>
                </tr>


<!-- Payments -->
                <% if (typeof debtorInfo.billed !== 'undefined'){ %>
                    <% let bills = 0 %>
                    <% let payments = 0 %>
                    <% let skipPays = 0 %>
                    <% let skipDebts = 0 %>
                    <% let i=0 %>
                    
                    <% while(bills < debtorInfo.billed.length){ %>
                <tr>

                        <% if(i === skipPays && payments < debtorInfo.payments.length){ %>   
                                        
                          
                            
                    <td rowspan="<%= debtorInfo.payments[payments].space %>">
                        <form action="/delPayment/<%= debtorInfo.payments[payments].id %>" method="POST">
                            <input type="submit" value="X" class="deleteBtn"> 
                        </form>
                        <%= currencyFormat.format(debtorInfo.payments[payments].paymentAmount) %>
                        <form action="/editPayment/<%= debtorInfo.fileId %>/<%= debtorInfo.payments[payments].id %>" method="GET">
                            <input type="submit" value="edit" class="editBtn">
                        </form>
                    </td>

                            <% skipPays = i + debtorInfo.payments[payments].space %>
                            <% payments++ %>
                        <% } else if(i === skipPays && debtorInfo.payments.length === payments){ %> 
                    <td rowspan="0"></td>
                            <% payments++ %>
                        <% } %>
                        
             
                    <% if(i === skipDebts || payments > debtorInfo.payments.length){ %>
                      
                        <% let formatDate = new Date(debtorInfo.billed[bills].paymentDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td rowspan="<%= debtorInfo.billed[bills].space == 0 ? 1 : debtorInfo.billed[bills].space %>" colspan="1"><%= formatDate %></td>
                    <td rowspan="<%= debtorInfo.billed[bills].space == 0 ? 1 : debtorInfo.billed[bills].space %>" colspan="1"><%= debtorInfo.billed[bills].paymentAmount === "paid" ? debtorInfo.billed[bills].paymentAmount : currencyFormat.format(debtorInfo.billed[bills].paymentAmount) %></td>
                    
                        <% skipDebts = i + debtorInfo.billed[bills].space %>
                        
                        <% bills++ %>
                    <% } %> 
                    <td></td>
                    <td></td>
                </tr>
                <% i++ %>  
                    <% } %>
                <% } %>
        <% } %>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>