<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class="justify-content-center gap-3 container-md flex-fill">
        <h1>Case Review</h1>

        <% if (typeof debtorInfo !== 'undefined'){ %>
            
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4" class="p-0">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/cases/<%= debtorInfo.fileId %>">Table View</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/cases-merge/<%= debtorInfo.fileId %>">Merge View</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/printview/<%= debtorInfo.fileId %>">Print View</a>
                            </li>
                        </ul>
                    </th>
                    <th style="text-align:right;">
                        <form action="/editDebtor/<%= debtorInfo.fileId %>" method="GET">
                            <input type="submit" value="edit" class="btn btn-secondary btn-outline-light btn-sm">
                        </form>
                    </th> 
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="table-light text-center">
                    <th>Name</th>
                    <th>File Id</th>
                    <th>Started</th>
                    <th>Payment</th>
                    <th>Debt</th>
                </tr>
                <tr>
                    
                    <td><select onchange="changeDebtor(event)">
                        <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                        <% if (typeof debtorList !== 'undefined'){ %>
                            <% for(let debtor of debtorList){ %>
                                <% if (debtorInfo.name !== debtor.name){ %>
                        <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select></td>
                    <td class="text-center"><%= debtorInfo.fileId %></td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td class="text-center"><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td class="text-center"><%= currencyFormat.format(debtorInfo.debt) %></td>
                </tr>
                <tr class="table-light text-center">
                    <th>Current Debt</th>
                    <th>End Date</th>
                    <th>Payments Left</th>
                    <th>Payment Made</th>
                    <th>Payments Late</th>
                </tr>
                <tr>
                    <td class="text-center"><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate.setMonth(currentDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td><%= currentDate %></td>
                    <td class="text-center"><%= Math.ceil((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) %></td>
                    <td class="text-center"><%= debtorInfo.payments.length %></td>
                    <td class="text-center"><%= debtorInfo.late ? "Late" : "On Time" %></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right">
                        <% if(debtorInfo.late) { %><a class="btn btn-primary btn-sm" href="/excusepayment/<%= debtorInfo.fileId %>">Excuse</a><% } %> <a class="btn btn-primary btn-sm" href="#<%= debtorInfo.fileId %>">Payment</a>
                    </td>
                </tr>
                <tr colspan="5">
                    <td colspan="5">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-dark">
                                    <th colspan="1">Payment Date</th>
                                    <th colspan="1">Payment / Bill</th>
                                    <th colspan="1">Comments</th>
                                    <th colspan="1">Balance</th>
                                    <th colspan="1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                <!-- Payments -->
                            <% let runningBalance = 0 %> 
                            <% debtorInfo.transactions.forEach(item => { %>
                                <tr class="<%= item.paymentAmount === 0 ? 'highlight' : '' %>">
                                    <% let formatDate = new Date(item.paymentDate) %>
                                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                                    <td><%= formatDate %> </td>
                                    <td>
                                        <% if (item.paymentAmount === undefined) { %>
                                            <%= `-${currencyFormat.format(debtorInfo.minPayment)}` %> 
                                        <% } else if (item.paymentAmount === 0) { %>
                                            <%= "" %> 
                                        <% } else { %>
                                            <%= currencyFormat.format(item.paymentAmount) %> 
                                        <% } %> 
                                    </td>
                                    <td><%= item.paymentComment %> </td>
                                    <% if (item.paymentAmount === undefined) { %>
                                        <% runningBalance += -debtorInfo.minPayment %> 
                                    <% } else if (item.paymentAmount === 0) { %>
                                        <% runningBalance = 0 %> 
                                    <% } else { %>
                                        <% runningBalance += item.paymentAmount %> 
                                    <% } %> 
                                    <td><%= currencyFormat.format(runningBalance) %> </td>
                                    <td>
                                        <% if (item.paymentAmount !== undefined) { %>
                                            <div class="d-flex">
                                                <form class="p-1" action="/delPayment/<%= item.id %>" method="POST">
                                                    <input type="submit" value="X" class="btn btn-secondary btn-outline-light btn-sm"> 
                                                </form>
                                                
                                                <form class="p-1" action="/editPayment/<%= debtorInfo.fileId %>/<%= item.id %>" method="GET">
                                                    <input type="submit" value="edit" class="btn btn-secondary btn-outline-light btn-sm">
                                                </form>
                                            </div>
                                        <% } %>
                                    </td>
                                </tr>

                            <% }) %>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <% } //end if debtorInfo %> 
    </main>

<%- include('footer.ejs') %>