<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class="justify-content-center d-grid gap-3 container-fluid flex-fill">
        <table class="table printview">
                    <tr class="border-bottom border-dark border-5">
                        <td colspan="7"><h1 class="left">Summary of Payment Plan</h1></td>
                    </tr>
                <tr>
                    <td colspan="5"></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td class="right" colspan="2"><%= currentDate %></td>
                </tr>
            <% if (typeof debtorInfo !== 'undefined'){ %>
                <tr>
                    <td colspan="2"><select onchange="changeDebtor(event)">
                        <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                        <% if (typeof debtorList !== 'undefined'){ %>
                            <% for(let debtor of debtorList){ %>
                                <% if (debtorInfo.name !== debtor.name){ %>
                        <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td class="border-bottom border-dark border-5" colspan="2"></td>
                    <td class="border-bottom border-dark border-5" colspan="1"></td>
                    <td colspan="1"></td>
                    <td class="border-bottom border-dark border-5" colspan="2"></td>
                    <td class="border-bottom border-dark border-5" colspan="1"></td>
                </tr>
                <tr>
                    <td colspan="2">Start Date</td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td class="table-active" colspan="1"><%= formatDate %></td>
                    <td colspan="1"></td>
                    <% let endDate = new Date() %>
                    <!-- <%= endDate.setMonth(endDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= endDate = endDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td colspan="2">Payoff Date</td>
                    <td class="table-active" colspan="1"><%= endDate %></td>
                </tr>
                <tr>
                    <td colspan="2">Initial Balance</td>
                    <td class="table-active" colspan="1"><%= currencyFormat.format(debtorInfo.debt) %></td>
                    <td colspan="1"></td>
                    <td colspan="2">Payments Made</td>
                    <td class="table-active" colspan="1"><%= debtorInfo.payments.length %></td>
                </tr>
                <tr>
                    <td colspan="2">Payment</td>
                    <td class="table-active" colspan="1"><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td colspan="1"></td>
                    <td colspan="2">Payments Due</td>
                    <td class="table-active" colspan="1"><%= Math.ceil((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) %></td>
                </tr>
                <tr>
                    <td class="border-bottom border-dark border-1" colspan="2">Amount Paid</td>
                    <td class="border-bottom border-dark border-1 table-active" colspan="1"><%= currencyFormat.format(debtorInfo.totalPaid) %></td>
                    <td colspan="1"></td>
                    <td class="border-bottom border-dark border-1" colspan="2">Amount Owed</td>
                    <td class="border-bottom border-dark border-1 table-active" colspan="1"><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                </tr>

                <tr class="table-dark"> 
                    <th>#</th>
                    <th>Date</th>
                    <th>Inicial Balance</th>
                    <th>Paid</th>
                    <th colspan="2">Additional Information</th>
                    <th>Final Balance</th>
                </tr>
                <% let runningBalance = debtorInfo.debt %>
                <% let counter = 1 %>
                <% if (typeof debtorInfo.payments !== 'undefined'){ %>
                    <% for(let payment of debtorInfo.payments){ %>
                <tr>
                    <td>#<%= counter %></td>
                    <% let formatDate = new Date(payment.paymentDate) %>
                        <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td><%= currencyFormat.format(runningBalance) %></td>
                    <td><%= currencyFormat.format(payment.paymentAmount) %></td>
                    <!-- <%= runningBalance -= payment.paymentAmount %> -->
                    <td colspan="2"><%= payment.paymentComment ? payment.paymentComment : "" %></td>
                    <td class="table-active"><%= currencyFormat.format(runningBalance) %></td>
                </tr>
                        <!-- <%= counter++ %> -->
                    <% } %>
                <% } %>
            <% } %>
        </table>
    </main>

<%- include('footer.ejs') %>