<%- include('header.ejs') %>

<% let currencyFormat = new Intl.NumberFormat("en-US", { style: "currency", "currency":"USD" }) %>

    <main class="justify-content-center gap-3 container-fluid flex-fill">
        <table class="table printview">
                    <tr class="border-bottom border-dark border-5">
                        <td colspan="7"><h1 class="left">Summary of Payment Plan</h1></td>
                    </tr>
                <tr>
                    <td colspan="5"></td>
                    <% let currentDate = new Date() %>
                    <!-- <%= currentDate = currentDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td class="right" colspan="2"><%= currentDate %></td>
                </tr>
            <% if (typeof debtorInfo !== 'undefined'){ %>
                <tr>
                    <td colspan="2"><select onchange="changeDebtor(event)">
                        <option selected value="debtorInfo.fileId"><%= debtorInfo.name %></option>
                        <% if (typeof debtorList !== 'undefined'){ %>
                            <% for(let debtor of debtorList){ %>
                                <% if (debtorInfo.name !== debtor.name){ %>
                        <option value="<%= debtor.fileId %>"><%= debtor.name %></option>
                                <% } %>
                            <% } %>
                        <% } %>
                    </select></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td class="border-bottom border-dark border-5" colspan="2"></td>
                    <td class="border-bottom border-dark border-5" colspan="1"></td>
                    <td colspan="1"></td>
                    <td class="border-bottom border-dark border-5" colspan="2"></td>
                    <td class="border-bottom border-dark border-5" colspan="1"></td>
                </tr>
                <tr>
                    <td colspan="2">Start Date</td>
                    <% let formatDate = new Date(debtorInfo.startDate) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td class="table-active" colspan="1"><%= formatDate %></td>
                    <td colspan="1"></td>
                    <% let endDate = new Date() %>
                    <!-- <%= endDate.setMonth(endDate.getMonth()+(Math.trunc((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) + 1)) %> -->
                    <!-- <%= endDate = endDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric' }) %> -->
                    <td colspan="2">Payoff Date</td>
                    <td class="table-active" colspan="1"><%= endDate %></td>
                </tr>
                <tr>
                    <td colspan="2">Initial Balance</td>
                    <td class="table-active" colspan="1"><%= currencyFormat.format(debtorInfo.debt) %></td>
                    <td colspan="1"></td>
                    <td colspan="2">Payments Made</td>
                    <td class="table-active" colspan="1"><%= debtorInfo.transactions.filter(item => item.payment !== undefined && item.payment !== 0).length %></td>
                </tr>
                <tr>
                    <td colspan="2">Payment</td>
                    <td class="table-active" colspan="1"><%= currencyFormat.format(debtorInfo.minPayment) %></td>
                    <td colspan="1"></td>
                    <td colspan="2">Payments Due</td>
                    <td class="table-active" colspan="1"><%= Math.ceil((debtorInfo.debt - debtorInfo.totalPaid) / debtorInfo.minPayment) %></td>
                </tr>
                <tr>
                    <td class="border-bottom border-dark border-1" colspan="2">Amount Paid</td>
                    <td class="border-bottom border-dark border-1 table-active" colspan="1"><%= currencyFormat.format(debtorInfo.totalPaid) %></td>
                    <td colspan="1"></td>
                    <td class="border-bottom border-dark border-1" colspan="2">Amount Owed</td>
                    <td class="border-bottom border-dark border-1 table-active" colspan="1"><%= currencyFormat.format(debtorInfo.debt - debtorInfo.totalPaid) %></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                </tr>

<!-- Payments -->
                <tr class="table-dark"> 
                    <th>#</th>
                    <th>Date</th>
                    <th>Inicial Balance</th>
                    <th>Paid</th>
                    <th colspan="2">Additional Information</th>
                    <th>Final Balance</th>
                </tr>
                <% let runningBalance = debtorInfo.debt %>
                <% let counter = 0 %>
                <% if (typeof debtorInfo.transactions !== 'undefined'){ %>
                    <% for(let payment of debtorInfo.transactions){ %>
                        <% if (payment.payment !== undefined) { %>
                            <!-- <% counter++ %> -->  
                        
                <tr class="<%= payment.payment === 0 ? 'highlight' : '' %>">
                    <td><%= counter %></td>
                    <% let formatDate = new Date(payment.date) %>
                    <!-- <%= formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %> -->
                    <td><%= formatDate %></td>
                    <td><%= payment.payment === 0 ? 'Excused' : currencyFormat.format(runningBalance) %></td>
                    <td><%= payment.payment === 0 ? '': currencyFormat.format(payment.payment) %></td>
                    <!-- <%= runningBalance -= payment.payment %> -->
                    <td colspan="2"><%= payment.comment ? payment.comment : "" %></td>
                    <td class="table-active"><%= payment.payment === 0 ? '' : currencyFormat.format(runningBalance) %></td>
                </tr>
                        <% } %>
                    <% } %>
                <% } %>

                <% let outstandingBalance = 0 %>
                <% for(let bill of debtorInfo.transactions){ %>
                    <!-- <% counter++ %> -->

                    <% if (bill.payment === undefined) { %>
                        <% outstandingBalance += -1*debtorInfo.minPayment %>
                    <% } else if (bill.payment === 0) { %>
                        <% outstandingBalance = 0 %>
                    <% } else { %>
                        <% outstandingBalance += bill.payment %>
                    <% } %>

                <% } %>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                </tr>
                <tr class="table-dark"> 
                    <th colspan="7">Payments Summary</th>
                </tr>
                <% let paymentOwed = 0 %> 
                <tr>
                    <td colspan="3">Next Payment:</td>
                    <% if (Math.abs(outstandingBalance) >= Math.abs(debtorInfo.minPayment)) { %>
                        <td><%= currencyFormat.format(-debtorInfo.minPayment) %></td>
                        <% paymentOwed = debtorInfo.minPayment %>
                        <% formatDate = new Date() %>
                        <% formatDate.setDate(1) %>
                        <% formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %>

                    <% } else if (Math.abs(outstandingBalance) >  0 ) { %>
                        <td><%= currencyFormat.format(-(debtorInfo.minPayment + outstandingBalance)) %></td>
                        <% paymentOwed = debtorInfo.minPayment + outstandingBalance %>
                        <% formatDate = new Date() %>
                        <% formatDate.setDate(1) %>
                        <% formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %>
                    <% } else { %>
                        <td><%= currencyFormat.format(-debtorInfo.minPayment) %></td>
                        <% paymentOwed = 0 %>
                        <% formatDate = new Date() %>
                        <% formatDate.setMonth(formatDate.getMonth()+1) %>
                        <% formatDate.setDate(1) %>
                        <% formatDate = formatDate.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric' }) %>
                    <% } %>
                    <td><%= formatDate %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">Overdue Amount Owed:</td>
                    <td colspan="2" class="border-bottom border-dark border-1"><%= currencyFormat.format(outstandingBalance+paymentOwed) %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">Current Amount Owed:</td>
                    <td colspan="2"><%= currencyFormat.format(outstandingBalance) %></td>
                    <td></td>
                    <td></td>
                </tr>
            <% } %>
        </table>
    </main>

<%- include('footer.ejs') %>